[submodule "DeepCore"]
	path = DeepCore
	url = git@git.code.tencent.com:FuckPomelo/DeepCore.git
[submodule "DeepEditor"]
	path = DeepEditor
	url = git@git.code.tencent.com:FuckPomelo/DeepEditor.git
[submodule "DeepFrozen"]	
	path = DeepFrozen
	url = git@git.code.tencent.com:FuckPomelo/DeepFrozen.git
