[submodule "DeepCore"]
	path = DeepCore
	url = git@git.code.tencent.com:FuckPomelo/DeepCore.git
[submodule "DeepEditor"]
	path = DeepEditor
	url = git@git.code.tencent.com:FuckPomelo/DeepEditor.git
[submodule "DeepFrozen"]	
	path = DeepFrozen
	url = git@git.code.tencent.com:FuckPomelo/DeepFrozen.git
[submodule "DeepMMO"]	
	path = DeepMMO
	url = git@git.code.tencent.com:FuckPomelo/DeepMMO.git
[submodule "DeepModules"]	
	path = DeepModules
	url = git@git.code.tencent.com:FuckPomelo/DeepModules.git
[submodule "DeepRelease"]	
	path = DeepRelease
	url = git@git.code.tencent.com:FuckPomelo/DeepRelease.git
[submodule "DeepPackages"]	
	path = DeepPackages
	url = git@git.code.tencent.com:FuckPomelo/DeepPackages.git
[submodule "DeepSamples"]	
	path = DeepSamples
	url = git@git.code.tencent.com:FuckPomelo/DeepSamples.git
[submodule "DeepSamples3D"]	
	path = DeepSamples3D
	url = git@git.code.tencent.com:FuckPomelo/DeepSamples3D.git
